<footer class="bg-light text-dark text-center py-3">
  <div class="container">
      <div class="row">
          <div class="col">
            <div class="social">
              <span class="social_text">Follow me: &nbsp;</span>
              <a href="https://www.facebook.com/imvks786" target="_blank"  class="social_link">
                <img class="svg_element" src="/images/fb.svg" type="image/svg+xml" alt="imvks facebook">
              </a>
              &nbsp;&nbsp;
              <a href="https://github.com/imvks786" target="_blank"  class="social_link">
                <img class="svg_element" src="/images/github.svg" type="image/svg+xml" alt="imvks github">
              </a>
              &nbsp;&nbsp;
              <a href="https://twitter.com/imvks_" target="_blank"  class="social_link">
                <img class="svg_element" src="/images/twitter.svg"  style="height: 23px;" type="image/svg+xml" alt="imvks twitter">
              </a>
              &nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/imvks786/" target="_blank"  class="social_link">
                <img class="svg_element" src="/images/linkedin.svg" type="image/svg+xml" alt="imvks linkedin">
              </a>
            </div>
            <hr>
            <a href="/home"><img src="./images/vs.png" class="logo" alt="imvks logo"></a>
            <br>
            <span>&copy; 2023 Vivek Singh</span>
          </div>
      </div>
  </div>
</footer>