<!--footer.ejs-->
<footer class="bg-light text-dark text-center py-3">
  <div class="container">
      <div class="row">
          <div class="col">
            <div class="social">
              <span class="social_text">Follow me: &nbsp;</span>
              <a href="https://www.facebook.com/imvks786" target="_blank"  class="social_link"><img class="svg_element" src="/images/fb.svg" type="image/svg+xml"></a>
              &nbsp;&nbsp;
              <a href="https://github.com/imvks786" target="_blank"  class="social_link"><img class="svg_element" src="/images/github.svg" type="image/svg+xml"></a>
              &nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/imvks786/" target="_blank"  class="social_link"><img class="svg_element" src="/images/linkedin.svg" type="image/svg+xml"></a>
            </div>
            
            <hr>
            <a href="/home"><img src="./images/vs.png" class="logo"></a>
            <br>
            <span>&copy; 2023 Vivek Singh</span>
          </div>
      </div>
  </div>
</footer>
