
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GY2NWBE2GT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GY2NWBE2GT');
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow nav_bar_fix">
    <div class="container">
        <div class="nav_logo">
            <a class="navbar-brand" href="/home"><img src="./images/vs.png" class="logo"><span class="line"></span><span class="my_name">&nbsp; Vivek Singh</span></a>
        </div>
        <!-- <a class="navbar-brand" href="/home"><img src="./images/vs.png" class="logo"><span class="line"></span></a> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- <nav class="navbar nav_bar_fix shadow">
    <div class="nav_logo">
        <a class="navbar-brand" href="/home"><img src="./images/vs.png" class="logo"><span class="line"></span><span>&nbsp; Vivek Singh</span></a>
    </div>
    <ul id="nav_items">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav> -->