<!DOCTYPE html>
<html lang="en">
<head>
  <title>About - Vivek Singh</title>
  <meta name="description" content="About | About Vivek Singh">
  <meta name="keywords" content="Vivek,imvks,imvks786,@imvks786,about">
  <meta name="author" content="Vivek Singh">
  <meta name="robots" content="about, follow">
  <meta name="og:title" content="About me">
  <meta name="og:description" content="About Vivek Singh (imvks), imvks786">
  <meta name="og:type" content="website">
  <meta name="og:locale" content="en_US">


  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>


  <div class="container">
    <h1>About me</h1>
    <br>
  </div>


  <!-- Footer section -->
  <%- include('partials/footer') %>

  <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
  <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
  <script src="/scripts/script.js"></script>
</body>
</html>