<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome!</title>
  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>


  <div class="container">
    <br>
    <h1>Connect with us!</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Your Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <br>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Your Name</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Name">
        </div>
        <br>
        <div class="form-group col-md-6">
          <label for="inputmsg">Message</label>
          <input type="text" class="form-control" id="inputmsg" placeholder="Hi, I like to connect with you..">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
    <br>
  </div>


  <!-- Footer section -->
  <%- include('partials/footer') %>

  <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
  <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
  <script src="/scripts/script.js"></script>
</body>
</html>