<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact</title>
  <meta name="description" content="Contact | Vivek Singh- A programmer from Delhi, India, specializing in JavaScript, Python. Reach out for inquiries, collaborations, or questions.">
  <meta name="keywords" content="Vivek,imvks, Contact, Programmer, Delhi, India, JavaScript, Python, Machine Learning, Cloud Computing, Artificial Intelligence">
  <meta name="author" content="Vivek Singh">
  <meta name="robots" content="index, follow">

  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>
  
  <div class="container">
    <br>
    <br>
    <br>
    <h1 class="gr">Contact</h1>
    <p>Thank you for visiting my portfolio website. If you have any questions, collaboration inquiries, or just want to say hello, please feel free to get in touch with me. You can reach out to me using the following methods:</p>

    <a href="https://www.facebook.com/imvks786" target="_blank"  class="social_link sc_h"><img class="svg_element" src="/images/fb.svg" type="image/svg+xml"  alt="imvks facebook>&nbsp;| Facebook</a>
    <br>
    <br>
    <a href="https://www.github.com/imvks786" target="_blank"  class="social_link sc_h"><img class="svg_element" src="/images/github.svg" type="image/svg+xml"  alt="imvks github">&nbsp;| Github</a>
    <br>
    <br>
    
    <a href="https://www.linkedin.com/in/imvks786/" target="_blank"  class="social_link sc_h"><img class="svg_element" src="/images/linkedin.svg" type="image/svg+xml"  alt="imvks linkedin">&nbsp;| Linkedin</a>
    
    <br>
    <br>
    <p>I'm always open to discussing new projects and opportunities related to programming, machine learning, cloud computing, or artificial intelligence. Whether you're a fellow developer, potential employer, or someone interested in my work, I'd love to connect with you. Please don't hesitate to reach out, and I'll get back to you as soon as possible. Your feedback and inquiries are valuable to me, and I'm excited to engage in meaningful conversations.</p>
    <p>Thank you once again for visiting my portfolio website, and I look forward to connecting with you!</p>
    <span>Best regards,</span><br>
    <span>Vivek Singh</span>
    <br>
    <br>
    <br>
  </div>


  <!-- Footer section -->
  <%- include('partials/footer') %>

  <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
  <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
  <script src="/scripts/script.js"></script>
</body>
</html>