<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects</title>
  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>


  <div class="container">
    <br>
    <h1>Projects</h1>
    <br>
  </div>
  
  <div class="container">
    <h2>Here are some Top Projects</h2>
    <hr>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/56357173/257042014-cf236083-c833-473d-b611-579b3564f2ae.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">TabLockX</h5>
            <p class="card-text">TabLockX is a robust Chrome extension that empowers users to safeguard their sensitive information and maintain better control over their browsing experience.</p>
            <a href="https://github.com/imvks786/TabLockX" class="btn btn-primary"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml"> See Project</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/56357173/213859411-2e355957-a080-47e2-9db6-f97efe43070b.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SmartSpecs</h5>
            <p class="card-text">A laptop price predictor is built using machine learning. It is a system that utilizes machine earning algorithms to analyze historical data on laptop prices and predict future prices.</p>
            <a href="https://github.com/imvks786/Laptop-Price-Predictor" class="btn btn-primary"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml"> See Project</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://user-images.githubusercontent.com/56357173/132630568-77461a54-e0ea-4ddb-aff8-6dd62fd0a117.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">BookMyBus</h5>
            <p class="card-text">BookMyBus is web application that provides the user to book the bus according to availablity of seats on particular date and time. It have admin and user login panels.</p>
            <a href="https://github.com/imvks786/BookmyBus" class="btn btn-primary"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml"> See Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  
  <div class="container">
    <hr>
    <br>
    <h3>I hope you like these projects.</h3>
  </div>
  <br>
  <br>
  <!-- Footer section -->
  <%- include('partials/footer') %>

  <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
  <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
  <script src="/scripts/script.js"></script>
</body>
</html>