<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects</title>
  <meta name="description" content="A brief and compelling description of my projects. This should summarize what your project is about and what makes it unique.">
  <meta name="keywords" content="Vivek,imvks,Python,TabLockx,BookMyBus,SmartSpecs,College Projects">
  <meta name="author" content="Vivek Singh">
  <meta name="robots" content="index, follow">
  <meta name="og:title" content="My Projects">
  <meta name="og:description" content="A brief and compelling description of my projects. This should summarize what your project is about and what makes it unique.">
  <meta name="og:type" content="website">
  <meta name="og:locale" content="en_US">

  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>


  <div class="container">
    <br>
    <br>
    <br>
    <h1>Projects</h1>
    <p>A brief and compelling description of my projects. This should summarize what my project is about and what makes it unique.</p>
    <div class="py-3">
      <div class="row">
        <h3>1. TabLockX</h3>
        <!-- <img class="card-img-top" src="./images/tablockx.png" alt="TabLockX A google chrome extension"> -->
        <p class="card-text">TabLockX is a robust Chrome extension that empowers users to safeguard their sensitive information and maintain better control over their browsing experience. With its advanced capabilities, this extension is tailored to provide an exceptional user experience while ensuring a secure and distraction-free online environment.</p>
        <h4>Key Features:</h4>
          <p class="card-text"><b>1. Auto-Lock Tab:</b> TabLockX boasts an innovative auto-lock feature, which automatically secures your selected tabs after a predefined idle time. This function guarantees that confidential information remains protected from unauthorized access.</p>
          <p class="card-text"><b>2. Whitelist/Exceptions:</b> Users have the flexibility to create a whitelist of trusted websites exempt from the auto-lock function. This allows for seamless access to work-related pages or favorite sites without constant reauthentication.</p>
          <p class="card-text"><b>3. Customizable Options:</b> TabLockX is highly customizable, allowing users to personalize settings based on their preferences. Users can choose the idle time duration, activate or deactivate auto-lock, and customize the notification preferences.</p>
          <p class="card-text"><b>4. User-Friendly Interface:</b> With an intuitive and visually appealing interface, TabLockX offers a seamless user experience. Simple navigation and easy-to-use controls ensure that users can swiftly optimize the extension's functionality.</p>
          <p class="card-text"><b>5. On One Click:</b> Available on the context menu, to directly lock the tab without moving to extension icon.</p>
          <a href="https://github.com/imvks786/TabLockX" class="btn btn-primary" style="width: 140px;"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml" alt="svg github"> Get Code</a>
      </div>

      <hr>

      <div class="row">
        <h3>2. SmartSpecs</h3>
        <p class="t_pos">A laptop price predictor using machine learning is a system that utilizes machine earning algorithms to analyze historical data on laptop prices and predict future rices based on that data. The system may be trained on a large dataset of past aptop sales, which includes information such as brand, model, features, and sale rices. The machine learning algorithm then uses this data to identify patterns and trends in laptop pricing, which can be used to make predictions about future prices.</p>
        <a href="https://github.com/imvks786/Laptop-Price-Predictor" class="btn btn-primary"  style="width: 140px;"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml" alt="svg github"> Get Code</a>
      </div>
      
      <hr>

      <div class="row">
        <h3>BookMyBus</h3>
        <p class="t_pos">BookMyBus is web application that provides the user to book the bus according to availablity of seats on particular date and time. It have admin and user login panels.</p>
        <p class="t_pos">"BookMyBus" is a dynamic and user-friendly web application designed to simplify and streamline the process of booking bus tickets. Developed using a combination of HTML, CSS, PHP, and MySQL, this project offers a comprehensive solution for both travelers and bus operators.</p>
        <a href="https://github.com/imvks786/BookmyBus" class="btn btn-primary"  style="width: 140px;"><img class="svg_element" src="/images/git_white.svg" type="image/svg+xml" alt="svg github"> Get Code</a>
      </div>

      <br>
    </div>
  </div>
  



  
  
  <br>
  <br>
  <!-- Footer section -->
  <%- include('partials/footer') %>

  <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
  <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
  <script src="/scripts/script.js"></script>
</body>
</html>