<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome!</title>
  <%- include('partials/header') %>
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/navbar') %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div class="container center c_border">
    <span class="material-symbols-outlined" style="font-size:100px;color:green">check_circle</span>
    <h1 class="gr">Thank You!</h1>
    <p>We appreciate your time and effort in filling out our form.</p>
    <p>Your input is valuable to me and helps us improve myself.</p>
    <p>I'll review the information you provided and get back to you as soon as possible.</p>
    <p>If you have any more questions or need further assistance, please don't hesitate to reach out.</p>

    <span>Best regards,<br>-Vivek Singh</span>
  </div>

  <br>
  <br>
  <br>
  <br>
    <!-- Footer section -->
    <%- include('partials/footer') %>
    <div id="alert"><span style="display: flex;align-items: center;"><span id="usrmsg">This action is not allowed right now.</span></span></div>
    <div id="content" style="display: none;"><button id="fullscreenButton">Fullscreen</button><h1>WELCOME</h1></div>
    <script src="/scripts/script.js"></script>
</body>
</html>