* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
#alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  background-color: #35363a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}
#usrmsg {
  padding: 10px 10px 0px 10px;
}

.social{
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
}
.social_text{
  font-size: 17px;
  font-weight: 500;
}
.social_link:first-child {
  margin-left: 10px;
}



/* SCROLL BAR FIX */
::-webkit-scrollbar {
  width: 0em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.card-text{
  text-align: justify;
}
.center{
  text-align: center;
  align-items: center;
}

.profile_logo{
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.logo{
  height: 25px;
  width: 45px;
}

.line{
  height: 40px;
  width: 1px;
  border: 1px solid black;
  margin-left: 10px;
}

.card-img-top{
  height: 240px;
  width: 286px;
}

.red{
  color:red;
}
.gr{
  color:green;
}
.bl{
  color:rgb(56, 102, 255);
}
.yl{
  color:rgb(255, 191, 42);
}


.c_icon{
  align-items: center;
  position: absolute;
}
.cust_btn{
  width: 190px;
}
.cust_btn:hover{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}
.btn:hover{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}



.t_pos{
  text-align: justify;
}

.profile_logo_content{
  margin-top: 100px;
  margin-left: 100px;
  align-items: center;
}

.profile_logo_c{
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.c_border{
  border:1px solid rgb(210 210 210);
  border-radius: 15px;
}


.nav_bar_fix{
  z-index: 1 !important;
  position: fixed;
  width: 100%;
}

body, ul {
  margin: 0;
  padding: 0;
}


.navbar {
  height: 40px;
  background-color:white;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Horizontally center the list items */
  padding: 10px 0; /* Add some spacing above and below the list */
}
.navbar ul li a {
  text-decoration: none; /* Remove underlines from links */
  color: black; /* Text color of the links */
  font-size: 16px;
  padding: 10px 20px; /* Add spacing around each link */
}
/* .navbar ul li a:hover {
  background-color: #555;
} */

.my_name{
  display: none;
}
@media only screen and (max-width:1200px){
  #nav_items{
    display: none;
  }
  .line{
    /* display:none; */
  }
  .logo{
    
  }  
  .nav_logo{
    text-align: center; 
    flex: 1; 
  }
  .profile_logo_content{
    display: none;
  }
  .c_border{
    margin-left: auto;
    margin-right: auto;
  }
  .logo_hide{
    display: none;
  }
  .full{
    width:100%;
  }
}

@media only screen and (max-width: 600px) {
  #nav_items{
    display: none;
  }
  .my_name{
    display:contents;
  }
  .line{
    /* display:none; */
  }
  .margin_cstm{
    margin-top: 20px;
    margin-left: 20%; 
  }  
  .nav_logo{
    text-align: center; 
    flex: 1; 
  }
  .profile_logo_content{
    display: none;
  }
  .c_border{
    margin-left: auto;
    margin-right: auto;
  }
  .logo_hide{
    display: none;
  }
  .full{
    width:100%;
  }
  .social_text{
    display: none;
  }
  .social{
    display: block;
  }
  #resume, #contact{
    text-align: center !important;
    align-items: center !important;
  }
}


.bk_img{
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}